extends layouts/layout.jade

block vars
 - var title = 'My Site'
 - var slug = 'top'

block contents
  section#app
    .container
      .row
        h1
          a(href="/")
            | slim2jade
        button#convert Convert
      .row
        .columns.medium-6
          h2 source
          textarea#source
        .columns.medium-6
          h2 build
          textarea#build

